{erl_opts, [{i, "include"}]}.
{deps, []}.

%% escript
{escript_main_app, eNpc}. % specify which app is the escript app
{escript_name, eNpc}. % name of final generated escript
{escript_emu_args, "%%! -noinput\n"}. % emulator args
%%{escript_shebang, "#!/usr/bin/env escript\n"}. % executable line
%%{escript_comment, "%%\n"}. % comment at top of escript file